.App {
  padding: 60px;
}
.products-al {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: grey;
  border: none;
  border-width: 1px;
  border-style: solid;
}
.products-al-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col-table {
  width: 16.6%;
  height: 40px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  border-left: 1px solid;
  padding-left: 10px;
}
.data-table {
  width: 16.6%;
  height: 40px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid;
  padding-left: 10px;
}
.row-ti {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.column-t {
  flex-direction: column;
}
.column-t2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.name-size {
  font-size: 14px;
  height: 0px;
  color: grey;
}
.name-size2 {
  font-size: 20px;
}
.name-size3 {
  font-size: 18px;
  height: 10
}
@media print {
  .print-source {
    display: block;
    background-color: white;
  }
}
.print-source {
  display: none;
  background-color: red;
}
body > .print-source {
  display: block;
}

@media print {
  .print-source {
    display: block;
    background-color: white;
  }
}
.img-cc {
  width: 25%;
  height: 25%;
}
