.toggle-button {
  border: none;
  display: flex;
  flex-direction: column;
  height: 25px;
  justify-content: space-around;
  padding: 0;
  width: 30px;
}
.toggle-button-line {
  background: #000;
  height: 2px;
  width: 100%;
}
