.side-drawer {
  background: #000;
  background-size: auto;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  max-width: 400px;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  width: 70%;
  z-index: 200;
}
.side-drawer-link {
  border: 1px solid #FFF;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 65px;
  justify-content: center;
  margin: 10%;
  text-decoration: none;
  text-transform: uppercase;
}
.side-drawer.open {
  transform: translateX(0);
}
@media (min-width: 1024px) {
  .side-drawer {
    display: none;
  }
}
.menu-text {
  font-size: 1.5rem;
  letter-spacing: 0em;
  margin-left: 15px;
  top: 35px;
}
