.footer-container {
  background: #092432;
  height: 200px;
}
.legal {
  display: flex;
  flex-direction: row;
}
.img-f {
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: 55px;
  width: 33.3%;
}
.imgH {
  width: 20%;
}
.imgH2 {
  width: 25%;
}
.legal2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 55px;
  width: 33.3%;
}
.img-container {
  display: flex;
  flex-direction: column;
}
.img-content {
  display: flex;
  justify-content: center;
}
.copy {
  color: #FFF;
  height: 0;
  margin: 0;
}
.p-f {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .legal {
    display: none;
  }
  .legal2 {
    display: none;
  }
}
